.App {
  font-family: sans-serif;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0px;
  padding: 10px;
}

.buyPrice {
  color: rgb(45, 175, 52);
}

.buyButton {
  padding: 10px;
  background-color: rgb(45, 175, 52);
  outline: none;
  border: none;
  border-radius: 6px;
  min-width: 200px;
}

.sellButton {
  padding: 10px;
  background-color: rgb(250, 103, 45);
  outline: none;
  border: none;
  border-radius: 6px;
  min-width: 200px;
}

.sellPrice {
  color: rgb(250, 103, 45);
}
